<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Welcome To Hyderabad Bawarchi Restaurent</h2>
    <h3>click Below button To See All Available Items </h3>
    <a href="/items" class="btn">View Available Items List</a>
  </div>
</header>


<%- include('partials/footer'); -%>